<!DOCTYPE html>
<html>
  <head>
    <title>Marvin the Chat Bot</title>
    <link rel="icon" type="image/png" href="/static/bot.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
    var userSound = new Audio('/static/userSend.mp3');
    var botSound = new Audio('/static/botSend.mp3');

    function playAudio1() {
      userSound.play();
    }
    function playAudio2() {
      botSound.play();
    }
    </script>

  </head>
  <body onload="getFirstResponse('Hello');">
    <h1>Marvin the Chat Bot</h1>
    <div class="messagecontainer">
      <div id="chatbox">
        <!--Nothing here in the beginning-->
      </div>
      <div id="typing">
        <table class="botText" border="0" width="85%"><tr><td width="70" valign="top"><img class="avatar" src="/static/bot.png" width="64" height="64" align="left" style="margin: 3px;"></td><td valign="top"><img src="/static/typingnow.gif"></td></tr></table>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message" autofocus>
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
		  var rawText;
			function botTyping(){
				document.getElementById('typing').style.visibility = "visible";
        setTimeout(getBotResponse, 750);
			}
        function getFirstResponse(firstText) {
          $.get("/get", { msg: firstText }).done(function(data) {
            var botHtml = '<table class="botText" border="0" width="85%"><tr><td width="70" valign="top"><img class="avatar" src="/static/bot.png" width="64" height="64" align="left" style="margin: 3px;"></td><td valign="top">' + data + '</td></tr></table>';
			document.getElementById('typing').style.visibility = "hidden";
            playAudio2();
            $("#chatbox").append(botHtml);
            document.getElementById("buttonInput").disabled = false;
            document.getElementById("textInput").disabled = false;
            document.getElementById("textInput").focus();
            //document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        function getBotResponse() {
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<table class="botText" border="0" width="85%"><tr><td width="70" valign="top"><img class="avatar" src="/static/bot.png" width="64" height="64" align="left" style="margin: 3px;"></td><td valign="top">' + data + '</td></tr></table>';
			document.getElementById('typing').style.visibility = "hidden";
            playAudio2();
            $("#chatbox").append(botHtml);
            document.getElementById("buttonInput").disabled = false;
            document.getElementById("textInput").disabled = false;
            document.getElementById("textInput").focus();
            //document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
              playAudio1();
              document.getElementById("buttonInput").disabled = true;
              document.getElementById("textInput").disabled = true;
				rawText = $("#textInput").val();
				$("#textInput").val("");
          		var userHtml = '<p class="userText">' + rawText + '</p>';
          		//$("#textInput").val("");
          		$("#chatbox").append(userHtml);
				      setTimeout(botTyping, 750);
            }
        });
        $("#buttonInput").click(function() {
          playAudio1();
          document.getElementById("buttonInput").disabled = true;
          document.getElementById("textInput").disabled = true;
				rawText = $("#textInput").val();
				$("#textInput").val("");
          		var userHtml = '<p class="userText">' + rawText + '</p>';
          		//$("#textInput").val("");
          		$("#chatbox").append(userHtml);
				setTimeout(botTyping, 750);
        })
      </script>
    </div>

  </body>

</html>
