<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Chat Bot</h1>
    <div class="messagecontainer">
      <div id="chatbox">
        <p class="botText"><img src="/static/sherlock.png" width="64" height="64" align="left" style="margin: 2px;"><span>Greetings!</span></p>
      </div>
      <div id="typing">
        <p class="botText"><img src="/static/sherlock.png" width="64" height="64" align="left" style="margin: 2px;"><span><img src="/static/typingnow.gif"></span></p><br>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message" autofocus>
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
		  var rawText;
			function botTyping(){
				document.getElementById('typing').style.visibility = "visible";
        setTimeout(getBotResponse, 750);
			}
        function getBotResponse() {
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><img src="/static/sherlock.png" width="64" height="64" align="left" style="margin: 3px;"><span>' + data + '</span></p>';
			document.getElementById('typing').style.visibility = "hidden";
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
				rawText = $("#textInput").val();
				$("#textInput").val("");
          		var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          		//$("#textInput").val("");
          		$("#chatbox").append(userHtml);
				setTimeout(botTyping, 750);
            }
        });
        $("#buttonInput").click(function() {
				rawText = $("#textInput").val();
				$("#textInput").val("");
          		var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          		//$("#textInput").val("");
          		$("#chatbox").append(userHtml);
				setTimeout(botTyping, 750);
        })
      </script>
    </div>
  </body>
</html>
